@using MagicPost_ViewModel.Common;

@model PageResult<MagicPost_ViewModel.System.Users.UserVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            var msgAlert = document.getElementById('msgAlert');
            if (msgAlert) {
                msgAlert.style.transition = 'opacity 1s ease';
                msgAlert.style.opacity = '0';
                msgAlert.style.display = 'none';
            }
        }, 2000);
    </script>
}
    
<div style="margin-left:80%; margin-top:20px;">
    <svg height="24" viewBox="0 0 128 128" width="24" xmlns="http://www.w3.org/2000/svg"><g><path d="m64 4.122a35.077 35.077 0 0 0 -35.077 35.078c0 24.8 35.077 72.147 35.077 72.147s35.077-44.756 35.077-72.147a35.077 35.077 0 0 0 -35.077-35.078zm0 54.5a19.42 19.42 0 1 1 19.419-19.422 19.419 19.419 0 0 1 -19.419 19.419z" fill="#ef3c49" /><path d="m64 122.617c-16.425 0-40.86-2.993-40.86-11.24 0-5.71 11.209-8.529 20.612-9.89a1.751 1.751 0 0 1 .5 3.465c-12.832 1.856-17.613 4.926-17.613 6.425 0 2.627 13.186 7.74 37.36 7.74s37.36-5.113 37.36-7.74c0-1.4-4.875-4.887-19.942-6.736a1.751 1.751 0 0 1 .426-3.475c8.6 1.056 23.016 3.785 23.016 10.211.001 8.247-24.434 11.24-40.859 11.24z" fill="#35d0ba" /></g></svg>
    @if(ViewBag.DiemTapKet=="Diem Tap Ket 1")
    {
        <b>1. Xuân Thuỷ, Cầu Giấy, Hà Nội</b>
    }
    @if (ViewBag.DiemTapKet == "Diem Tap Ket 2")
    {
        <b>2. Đê La Thành, Ba Đình, Hà Nội</b>
    }
</div>
<div class="container-fluid">
    <h1 class="mt-4">Danh sách Nhân viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách nhân viên @ViewBag.DiemTapKet</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <button class="button" type="submit" onclick="location.href='@Url.Action("CreateNhanVienTapKet", "User")'">
                        <span class="button__text">Thêm</span>
                        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>

                    </button>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="input" placeholder="Search" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="search-btn">
                                    <svg enable-background="new 0 0 48 48" height="24" viewBox="0 0 48 48" width="24" xmlns="http://www.w3.org/2000/svg"><g id="_x32_-Magnifying_Glass"><path d="m40.8994141 39.4853516-7.8127441-7.8127441c2.3978882-2.734375 3.7209473-6.1942749 3.7209473-9.8649902 0-4.0068359-1.5605469-7.7734375-4.3935547-10.6064453s-6.5996094-4.3935547-10.6064453-4.3935547-7.7734375 1.5605469-10.6064453 4.3935547-4.3935547 6.5996094-4.3935547 10.6064453 1.5605469 7.7734375 4.3935547 10.6064453 6.5996094 4.3935547 10.6064453 4.3935547c3.6707153 0 7.1306152-1.3230591 9.8649902-3.7209473l7.8127441 7.8127441c.1953125.1953125.4511719.2929688.7070313.2929688s.5117188-.0976563.7070313-.2929688c.3906249-.390625.3906249-1.0234375-.0000001-1.4140625zm-28.2841797-8.4853516c-2.4550781-2.4555664-3.8076172-5.7202148-3.8076172-9.1923828s1.3525391-6.7368164 3.8076172-9.1923828c2.4555664-2.4550781 5.7202148-3.8076172 9.1923828-3.8076172s6.7368164 1.3525391 9.1923828 3.8076172c2.4550781 2.4555664 3.8076172 5.7202148 3.8076172 9.1923828s-1.3525391 6.7368164-3.8076172 9.1923828c-2.4555664 2.4550781-5.7202148 3.8076172-9.1923828 3.8076172s-6.7368164-1.3525391-9.1923828-3.8076172z" /></g></svg>

                                </button>
                                <button type="button" onclick="location.href='@Url.Action("GetNhanVienTapKet", "User")'" class="search-btn">
                                    <svg class="svg" height="24" viewBox="0 0 48 48" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M35.3 12.7c-2.89-2.9-6.88-4.7-11.3-4.7-8.84 0-15.98 7.16-15.98 16s7.14 16 15.98 16c7.45 0 13.69-5.1 15.46-12h-4.16c-1.65 4.66-6.07 8-11.3 8-6.63 0-12-5.37-12-12s5.37-12 12-12c3.31 0 6.28 1.38 8.45 3.55l-6.45 6.45h14v-14l-4.7 4.7z"></path>

                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                Họ
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Tài khoản
                            </th>
                            <th>
                                Email
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.items)
                        {
                            if (item.Email == ViewBag.UserEmail)
                            {
                                continue;
                            }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

<style>
    .button {
        position: relative;
        width: 150px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #3498db;
        background-color: #3498db;
    }

    .button, .button__icon, .button__text {
        transition: all 0.3s;
    }

        .button .button__text {
            transform: translateX(30px);
            color: #fff;
            font-weight: 600;
        }

        .button .button__icon {
            position: absolute;
            transform: translateX(109px);
            height: 100%;
            width: 39px;
            background-color: #3498db;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button .svg {
            width: 30px;
            stroke: #fff;
        }

        .button:hover {
            background: #3498db;
        }

            .button:hover .button__text {
                color: transparent;
            }

            .button:hover .button__icon {
                width: 148px;
                transform: translateX(0);
            }

        .button:active .button__icon {
            background-color: #2375fa;
        }

        .button:active {
            border: 1px solid #2375fa;
        }

    .search-btn {
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        background-color: #3498db;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all 0.5s ease;
    }

    .search.btn:hover {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }

    .search-btn:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(34 154 240) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

    .input {
        width: 100%;
        height: 44px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: .3s ease;
    }

        .input::placeholder {
            color: #9e9ea7;
        }

        .input:focus, input:hover {
            outline: none;
            border-color: rgba(39, 109, 245, 0.8);
            background-color: #fff;
            box-shadow: 0 0 0 4px rgb(34 154 240 / 10%);
        }

    .icon {
        position: absolute;
        left: 1.5rem;
        top: 0.55rem;
        fill: #9e9ea7;
        width: 1.5rem;
        height: 1.5rem;
    }


</style>